<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>195849499957-a8q4fe91gmitv9idttpvds23aml9dkh1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.195849499957-a8q4fe91gmitv9idttpvds23aml9dkh1</string>
	<key>API_KEY</key>
	<string>AIzaSyDkvWdDM2RMU-lr-AkWDmyEV_gwOTuxVCc</string>
	<key>GCM_SENDER_ID</key>
	<string>195849499957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app-google-login-demo</string>
	<key>PROJECT_ID</key>
	<string>app--login-57d84</string>
	<key>STORAGE_BUCKET</key>
	<string>app--login-57d84.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195849499957:ios:5052398b6a34f46478887c</string>
</dict>
</plist>